.EditBtn,
.EditBtnNoHover {
  padding: 6px;
  background-color: #f5f7fa;
  border: 0;
  border-radius: 50%;
  fill: #cdd0d9;
}

.EditBtnNoHover {
  background-color: #e0e2e8;
  fill: white;
}

.EditBtn:hover {
  background-color: #e0e2e8;
  fill: white;
  cursor: pointer;
}

.EditBtn:focus {
  outline: 0;
}

.EditBtnDone {
  display: none;
}
